.para-heading {
  font-size: 25px;
  color: #e73959;
}

.image-icon {
  height: 3vh;
  margin-right: 10px;
}

.item-image {
  height: 20vh;
}

.para-pro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-bg {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #f8f8ff;
  border-radius: 10px;
  background-color: #f8f8ff;
}
